[submodule "roles/cisco"]
	path = roles/cisco
	url = https://gitea.see-base.de/toolbox/role-cisco.git
[submodule "roles/cisco-interfaces"]
	path = roles/cisco-interfaces
	url = https://gitea.see-base.de/toolbox/role-cisco-interfaces.git
[submodule "roles/ssh-auth"]
	path = roles/ssh-auth
	url = https://github.com/ffbsee/role-ssh_authorized_keys.git
[submodule "files/admin_ssh_keys"]
	path = files/admin_ssh_keys
	url = https://gitea.see-base.de/toolbox/ssh-public-keys.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/DO1JLR/role_sshd.git
[submodule "roles/dotfiles"]
	path = roles/dotfiles
	url = https://github.com/DO1JLR/role_dotfiles.git
[submodule "roles/base-packages"]
	path = roles/base-packages
	url = https://gitea.see-base.de/toolbox/role-base_packages.git
[submodule "roles/install-bat"]
	path = roles/install-bat
	url = https://github.com/gantsign/ansible_role_bat.git
[submodule "roles/networking"]
	path = roles/networking
	url = https://gitea.see-base.de/toolbox/role-networking.git
[submodule "ansible/lookup_plugins"]
	path = ansible/lookup_plugins
	url = https://gitea.see-base.de/toolbox/plugin-hostfiles.git
[submodule "roles/sysctl"]
	path = roles/sysctl
	url = https://gitea.see-base.de/toolbox/role-sysctl.git
[submodule "roles/resolver"]
	path = roles/resolver
	url = https://gitea.see-base.de/toolbox/role-resolver.git
[submodule "roles/ferm"]
	path = roles/ferm
	url = https://gitea.see-base.de/toolbox/role-ferm.git
[submodule "roles/tb-unbound"]
	path = roles/tb-unbound
	url = https://gitea.see-base.de/toolbox/tb-role-unbound.git
[submodule "roles/pppoe"]
	path = roles/pppoe
	url = https://gitea.see-base.de/toolbox/role-pppoe.git
[submodule "roles/wide_dhcpv6"]
	path = roles/wide_dhcpv6
	url = https://gitea.see-base.de/toolbox/role-wide_dhcpv6_client.git
[submodule "roles/radvd"]
	path = roles/radvd
	url = https://gitea.see-base.de/toolbox/role-radvd.git
[submodule "roles/motion"]
	path = roles/motion
	url = https://github.com/radiorabe/ansible-role-motion.git
